*{
  list-style-type: none;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#sidebar{
  background-color: grey;
  grid-column: 1/2;
  min-height: 100vh;
}
#lists>ul>li{
  cursor: pointer;
  margin: 1em;
}

#content{
  min-height: 100vh;
  grid-column: 2/6;
}


#newlist{
  width: 18em;
}

/*form */
.form-popup{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: yellow;
}

#bg-disable {
  display: none;
  position: absolute;
  background-color: lightgray;
  width: 100vw;
  height: 100vh;
  opacity: 0.6;
}

/* task list */
.task-list {
  border: 2px solid grey;
  margin: 1em;
  padding: 0.4em;
  border-radius: 0.5em;
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.btn-new{
  border: none;
  min-width: 70%;
  align-self: center;
}
#todolists{
  display: flex;
  flex-direction: column;
  padding: 2em;
  flex-wrap: wrap;
}

.task-title:hover{
  background-color: lightgray;
}
.task-title{
  padding-left: 2em;
  padding-right: 2em;
  grid-column: 1/3;
}
.due-date{
  grid-column: 4/5;
}
